:root {
  --main-color: #ff9900;
  --dark-color: #333;
  --white-color: #fff;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

html,
body {
  min-width: 320px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: var(--dark-color);
  scroll-behavior: smooth;
}

.lock-scroll { overflow: hidden; }

.section-title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

.site-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  --container-width: 1770px;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 58px;
}

/* HEADER */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, .1);
}

.header__container {
  display: flex;
  position: relative;
}

.burger {
  --burger-width: 30px;
  --burger-height: 23px;
  --burger-line-height: 3px;
  display: none;
  align-self: center;
  width: var(--burger-width);
  height: var(--burger-height);
  border: none;
  padding: 0;
  z-index: 105;
  color: #4c5866;
  background-color: transparent;
  cursor: pointer;
  transform: translateX(5px);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform .3s ease-in-out,
              top .3s ease-in-out,
              width .3s ease-in-out;
}

.burger::before { top: 0; }

.burger::after {
  top: calc(100% - var(--burger-line-height));
  transition: left .3s ease-in-out;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out,
              width .3s ease-in-out,
              left .3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform .3s ease-in-out,
              top .3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform .3s ease-in-out,
              top .3s ease-in-out;
}

.burger:hover.burger--active::after{
  left: 0;
  width: 100%;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform .3s ease-in-out;
}

.burger:hover { color: var(--main-color); }

.burger:hover .burger__line {
  width: 84%;
  left: 16%;
}

.burger:hover::after {
  width: 60%;
  left: 40%
}

.burger:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 5px;
}

.burger:active { color: #e1670e }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
}

.overlay--active { visibility: visible; }

.logo {
  margin-right: auto;
  padding-top: 3px;
}

.logo:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  padding-top: 5px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.nav__list-item {
  font-weight: 700;
  font-size: 18px;
}

.nav__list-item:not(:last-child) { margin-right: 72px; }

.nav__list-item:last-child { margin-right: 95px; }

.nav__list-item-link { border: 2px solid transparent; }

.nav__list-item-link {
  padding-bottom: 5px;
  transition: border .3s ease-in-out,
              color .3s ease-in-out;
}

.nav__list-item-link {
  position: relative;
  outline: none;
  z-index: 5;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-shark);
  transition: color .3s ease-in-out;
}

.nav__list-item-link:hover { border-bottom: 2px solid var(--main-color); }

.nav__list-item-link:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 5px;
}

.nav__list-item-link:active {
  border-bottom: 2px solid #e1670e;
  color: #e1670e;
}

.search {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 58px;
  border-radius: 16px;
  height: 28px;
  padding-top: 16px;
  padding-bottom: 12px;
  z-index: 110;
}

.search__input {
  width: 0px;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  outline: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  background-color: transparent ;
  transition: width .3s ease-in-out;
}

.search__input:focus { border-bottom-color: var(--main-color); }

.search__btn {
  align-self: center;
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
}

.search__btn svg rect{ transition: fill .3s ease-in-out; }

.search__btn svg circle{ transition: stroke .3s ease-in-out; }

.search__btn:hover svg rect{ fill: var(--main-color); }

.search__btn:hover svg circle{ stroke: var(--main-color); }

.search__btn:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 5px;
}

.search--active {
  padding-right: 12px;
  padding-left: 32px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .12);
}

.search__input--active {
  width: 412px;
  margin-right: 14px;
}

.search__open--active { margin-right: 18px; }

/* HERO SECTION */
.hero { color: var(--white-color); }

.hero__container {
  min-width: 0;
  background-position: center center;
  background-size: cover;
}

.swiper {
  display: relative;
  min-height: 620px;
}

.swiper-container {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  background-size: cover;
  background-position: center center;
}

.text-box {
  position: relative;
  z-index: 1;
  padding: 80px;
  padding-top: 100px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal { bottom: 24px; }

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active { background: #fff; }

.hero__title {
  width: 837px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 1px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 90px;
  width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__link {
  max-width: 280px;
  padding: 19px 38px;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: inherit;
  background-color: var(--main-color);
  transition: background-color .3s ease-in-out;
}

.hero__link:hover { background-color: rgba(255, 153, 0, .7); }

.hero__link:focus { background-color: rgba(255, 153, 0, .7); }

.hero__link:active { background-color: #e1670e; }

/* ABOUT-US SECTION */
.about-us { padding-top: 100px; }

.about-us__text {
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about-us__wrapper { display: flex; }

.about-us__img {
  display: none;
  width: 100%;
}

.about-us__block {
  display: flex;
  align-items: flex-end;
  width: 870px;
  margin-right: 30px;
  background-image: url(../assets/img/About-us.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 870px;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, .5);
}

.description__text {
  margin-top: 0;
  margin-right: 138px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.description__link {
  padding: 19px 35px;
  border: 3px solid var(--main-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  transition: background-color .3s ease-in-out,
              border-color .3s ease-in-out;
}

.description__link:hover { background-color: var(--main-color); }

.description__link:focus {
  outline-color: var(--main-color);
  background-color: var(--main-color);
}

.description__link:active {
  background-color: #e1670e;
  border-color: #e1670e;
}

.about-us__list-item {
  display: flex;
  flex-direction: column;
  max-width: 870px;
  padding-top: 65px;
  padding-right: 116px;
  padding-bottom: 50px;
  padding-left: 300px;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
}

.about-us__list-item:not(:last-child) { margin-bottom: 30px; }

.about-us__list-item span {
  margin-top: 0;
  margin-bottom: 8px;
  width: 452px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.about-us__list-item-text {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-us-top {
  background-image: url("../assets/svg/about-consult-top.svg");
  background-position: 9% 48%;
}

.about-us-bottom {
  background-image: url("../assets/svg/about-consul-bottom.svg");
  background-position: 9% 48%;
}

/* CONSULT SECTION */
.consult { padding-top: 100px; }

.consult__title { margin-bottom: 46px; }

.consult__list {
  display: flex;
  margin-bottom: 45px;
}

.consult__list-item { margin-right: 85px; }

.consult__list-item-btn {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  transition: color .3s ease-in-out;
}

.consult__list-item-btn:hover { color: var(--main-color); }

.consult__list-item-btn:focus {
  outline-color: var(--main-color);
  outline-offset: 5px;
}

.consult__list-item-btn:active { color: #e1670e; }

.block { display: flex; }

.tab-content { display: none; }

.tab-content--active { display: flex; }

.tabs__btn--active { color: var(--main-color); }

.block__wrapper { margin-right: 142px; }

.block__text-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 40px;
}

.block__text {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
}

.block__link {
  padding: 20px 38px;
  border: 1px solid var(--main-color);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: background-color .3s ease-in-out,
              color .3s ease-in-out,
              border-color .3s ease-in-out;
}

.block__link-info {
  margin-right: 25px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--main-color);
}

.block__link-info:hover {
  border-color: #f7b045;
  background-color: #f7b045;
}

.block__link-info:focus {
  background-color: #f7b045;
  outline-color: #f7b045;
}

.block__link-info:active {
  border-color: #e1670e;
  background-color: #e1670e;
}

.block__link-contract { border: 1px solid var(--dark-color); }

.block__link-contract:hover {
  color: var(--white-color);
  border-color: #666;
  background-color: #666;
}

.block__link-contract:focus {
  color: var(--white-color);
  outline-color: #666;
  background-color: #666;
}

.block__link-contract:active {
  color: var(--white-color);
  border-color: #000;
  background-color: #000;
}

.block__picture div {
  width: 100%;
  height: 100%;
}

.block__img {
  display: block;
  max-width: 870px;
  height: 460px;
  padding-top: 10px;
  object-fit: cover;
}

/* FAQ */
.faq {
  padding-top: 100px;
  padding-bottom: 100px;
}

.accordion__control {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.accordion__title {transition: color .3s ease-in-out;}

.accordion__content {
  max-height: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  opacity: 0;
	overflow: hidden;
  transition: max-height .3s ease-in-out,
              opacity .3s ease-in-out;
}

.accordion__content.open {
  color: var(--dark-color);
  opacity: 1;
}

.faq__title {
  margin-bottom: 42px;
  line-height: 59px;
}

.faq__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  padding-top: 30px;
  padding-bottom: 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: border .3s ease-in-out,
              color .3s ease-in-out;
}

.faq__list-item:first-child { border-top: 1px solid #cacaca; }

.faq__list-item:hover {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

.faq__list-item:hover .faq__list-item-btn {
  background-color: var(--main-color);
  stroke: var(--white-color);
}

.faq__list-item:hover .faq__list-item-btn.open {
  background-color: #ececec;
  stroke: transparent;
}

.faq__list-item:hover .accordion__title { color: var(--main-color); }

.faq__list-item:hover .accordion__title.open { color: var(--dark-color); }

.faq__list-item:focus {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  outline: none;
  color: var(--main-color);
}

.faq__list-item:focus .faq__list-item-btn {
  background-color: var(--main-color);
  stroke: var(--white-color);
}

.faq__list-item.open {
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
  color: var(--dark-color);
}

.faq__list-item-text {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
}

.faq__list-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  transition: background-color .3s ease-in-out,
              stroke .3s ease-in-out,
              transform .3s ease-in-out;
}

.faq__list-item-btn.open { transform: rotate(45deg); }

.faq__list-item-btn.open:hover { background-color: #ececec; }

/* FOOTER */
.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  color: #cacaca;
  background-color: #222;
}

.footer__container { display: flex; }

.footer__left {
  margin-right: 346px;
  max-width: 317px;
  padding-top: 10px;
}

.footer__logo { margin-bottom: 25px; }

.footer__logo:focus {
  outline-color: var(--main-color);
  outline-offset: 5px;
}

.footer__nav { margin-bottom: 95px; }

.footer__nav-list-item {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.footer__nav-link { transition: color .3s ease-in-out; }

.footer__nav-link:hover { color: var(--main-color); }

.footer__nav-link:focus {
  outline-color: var(--main-color);
  outline-offset: 5px;
}

.footer__nav-link:active { color: #e1670e; }

.social { display: flex; }

.social__link {
  display: inline-block;
  margin-right: 25px;
}

.social__link path { transition: fill .3s ease-in-out; }

.social__link:hover path { fill: var(--main-color); }

.social__link:focus {
  outline-color: var(--main-color);
  outline-offset: 5px;
}

.social__link:active path { fill: #e1670e; }

.text-us-section {
  margin-right: 230px;
  width: 577px;
}

.text-us-section__title {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 10px;
  line-height: 59px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  height: 57px;
  border: 1px solid #414141;
  margin-bottom: 25px;
  padding-left: 22px;
  padding-right: 22px;
  color: #cacaca;
  font-size: 16px;
  line-height: 32px;
  background-color: #414141;
  transition: background-color .3s ease-in-out;
}

.form__input:hover { background-color: #666; }

.form__input:focus {
  color: var(--white-color);
  background-color: #666;
  outline-color: #666;
}

.textarea {
  min-height: 120px;
  margin-bottom: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: none;
}

.form__block {
  display: flex;
  align-items: center;
}

.form__btn {
  display: inline-block;
  margin-right: 25px;
  padding: 18px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--main-color);
  transition: background-color .3s ease-in-out;
}

.form__btn:hover { background-color: #f7b045}

.form__btn:focus {
  background-color: #f7b045;
  outline-color: #f7b045;
}

.form__btn:active { background-color: #e1670e; }

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 18px;
  font-size: 16px;
  line-height: 32px;
  outline: #CACACA;
  cursor: pointer;
}

.checkbox__input { position: absolute; }

.checkbox__input:checked + .checkbox__box {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='13' height='13' stroke='%23CACACA'/%3E%3Cpath d='M10.9498 4.08233L6.00002 9.03208L3.17159 6.20365' stroke='%2397EE3F' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.checkbox__box {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: -18px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='13' height='13' stroke='%23CACACA'/%3E%3C/svg%3E");
}

hr { display: none; }

.footer__right {
  display: flex;
  align-items: center;
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
}

.footer__right-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
}
